@model QuestionModel
@{
    ViewData["Title"] = "AddQuestion";
}


<div>
    <form asp-controller="Home" asp-action="AddQuestion" FormMethod="post">
        @{
            <h1>
                Dodaj pytanie:
            </h1> 
            <label>Id: </label> <br />
            @Html.TextBoxFor(model => model.Id) <br />
            <label>Pytanie: </label> <br />
            @Html.TextBoxFor(model => model.Question) <br />

            <input type="submit" value="Dodaj" />
        }
    </form>
</div>
