@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Maciej Kuczyński<br />
    <a href="mailto:kuczynski07@gmail.com">Kuczynski07@gmail.com</a><br />
    <abbr title="Phone">P:</abbr>
    888500658
</address>

<address>
    <strong>Support:</strong> <a href="https://www.google.com">www.google.com</a><br />
</address>
